<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	.err404{
		width:80%;
		height:500px;
		margin:50px auto 0 auto;
			
		}
		.err404 img{
			display:block;
			margin:0 auto;
		}
		.e ul{
			width:300px;
			
			margin:0px auto;
			text-align: center;
			
		}
		.e ul h4{
			color:red;
			display:block;
			text-align: left;
		}
		.e li{
			text-align: left;
			width:200px;
			list-style: none;
			padding:5px 0;
			
		}
	</style>
</head>
<body>

<span><a href="/">返回首页</a></span>
	<div class="err404">

	<div class="e">
		
		<ul>
		<h4>404!出现此页面原因</h4>
			<li>1.您已退出登录</li>
			<li>2.您无权访问</li>
			<li>3.错误的网络地址</li>
		</ul>
	</div>	
		<img src="/images/404.gif" alt="404" width="800" height="500">
	</div>
</body>
</html>
